* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FCF9EA;
  display: grid;
  grid-template-columns: 0.5fr 0.7fr;
  justify-content: space-around;
}
.add-book {
  display: grid;
  grid-template-columns: 10vw 5vw;
  align-items: center;
  margin: 20px;
  height: 15em;
}
input[type='text'],
input[type='number'] {
  width: 250px;
  height: 15px;
  font-size: 14px;
  padding-left: 10px;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.add-book button {
  width: 70px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 25vh;
  box-shadow: 1px 1px 2px 2px #447254;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}
.card {
  display: grid;
  margin: 0.75em;
  padding: 10px;
  height: 180px;
  grid-template-rows: 70px 30px 30px 30px;
  background-color: #e6e9d0;
  text-align: center;
  border-radius: 30px;
  word-wrap:break-word;
  box-shadow: 3px 3px 5px 3px #447254;
}
.card p:nth-child(2) {
  font-style: italic;
}
.action {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn.read,
.add-book button {
  background-color: #c2d48f;
  border: solid gray 1px;
}
.btn {
  background-color: #F5FAE1;
  border: solid gray 1px;
  border-bottom-left-radius: 30px;
}
.remove {
  background-color: #FFCDC9;
  border: solid gray 1px;
  border-bottom-right-radius: 30px;
}
button {
  cursor: pointer;
}